<a id="payment-button-khalti" href="#">Pay with Khalti</a>
<script src="https://unpkg.com/khalti-checkout-web@latest/dist/khalti-checkout.iffe.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    SpreeGatewaysNepal.paymentMethodID = "<%= payment_method.id %>"
  })

  var config = {
    // replace this key with yours
    publicKey: "<%= Spree::Gateway::Khalti.first.preferences[:test_public_key] %>",
    productIdentity:"<%= current_order.name %>",
    productName: "<%= current_order.products.first.name %>",
    productUrl: "<%= 'https://bazarnp.com/products/' + current_order.products.first.slug%>",
    eventHandler: {
      onSuccess(payload) {
        debugger
        var authenticity_token = $('input[name="authenticity_token"]')[0].value;
        // Call the backend API for verifying the token
        $.ajax({
          url: '/khalti',
          type: 'POST',
          data: {
            "payload": payload,
            "payment_method_id": "<%= payment_method.id%>",
            "authenticity_token": authenticity_token
          }
        }).done(function(response){
          console.log(response)
          // Successfully verified that the payment was successful
        })
      },
      // onError handler is optional
      onError(error) {
        // handle errors
        console.log(error);
      },
      onClose() {
        console.log('widget is closing');
      },
    },
    paymentPreference: [
      'KHALTI',
      'EBANKING',
      'MOBILE_BANKING',
      'CONNECT_IPS',
      'SCT',
    ],
  };

  var checkout = new KhaltiCheckout(config);
  var btn = document.getElementById("payment-button-khalti");
  btn.onclick = function (e) {
    e.preventDefault();
    checkout.show({amount: "<%= (current_order.total.to_f) * 100 %>"});
  }
</script>
